{% extends 'base.html' %}

{% block title %}
    <div class="title_text">Freeshelf<div>
{% endblock %}

{% block content %}
    <h1 class="page_title">{{ book.title }}</h1>
    <div class="book_content">
        <div class="book_info">
            {% if book.cover %}
                <img src="{{ book.cover.url }}" alt="book cover">
            {% endif %}
            <div class="book_atts">
                <div class="book_att">
                    <span class="att_label">Author:</span>
                    {% for author in book.author.all %}
                        {% if forloop.first %}
                            {{ author.name }}
                        {% else %}
                            and {{ author.name }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="book_att">
                    <span class="att_label">Categories: </span>
                    {% for category in book.categories.all %}
                        {% if forloop.first %}
                            {{ category.name }}
                        {% else %}
                            | {{ category.name }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="book_att">
                    <p class="att_label">Description: </p>
                    <p class="book_description">{{ book.description }}</p>
                </div>
                <div class="book_att">
                    <span class="att_label">Link: </span>
                    <a href="{{ book.url }}" target="blank">{{ book.url }}</a>
                </div>
                <div class="book_att">
                    <span class="att_label">Added to Freeshelf on: </span>
                    {{ book.added_at }}
                </div>
                <div class="book_att">
                    <span class="att_label">Favorited: </span>
                    {{ book.favorited_by.count }}{{ book.favorited_by.count|pluralize:" time, times" }}
                </div>
                {% if book.get_average_rating %}
                    <div class="book_att">
                        <span class="att_label">Average Rating: </span>
                        {{ book.get_average_rating }} / 5
                    </div>
                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
                <form action="{% url 'Favorite' slug=book.slug %}" method="POST">
                    {% csrf_token %}
                    <button class="fav_button" type="submit">
                        {% if request.user in book.favorited_by.all %}
                        Unfavorite
                        {% else %}
                        Favorite
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        </div>
        <h2 class="section_title">Comments</h2>
        <div class="comments">
            {% for comment in book.comments.all %}
                <div class="comment">
                    <div class="comment_head">
                        <p class="comment_author">{{ comment.user.username }}</p>
                        <p class="posted_at">{{ comment.posted_at }}</p>
                    </div>
                    {% if comment.rating %}
                        <div class="rating">
                            <p>Rating: {{ comment.get_rating }}</p>
                        </div>
                    {% endif %}
                    <div class="comment_content">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'Book_detail' slug=book.slug %}">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit">Post Comment</button>
            </p>
        </form>
        {% endif %}
    </div>
    
{% endblock %}