<!DOCTYPE html>

<html lang="en">
<head>
    {% block meta %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Freeshelf</title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    
</head>
<body class="">
    <nav class="menu">

    </nav>
    <main class="main">
        <div class="header">
            <h1 class="site_banner">
                {% block title %}
                {% endblock %}
            </h1>
            <p>Login | Register</p>
        </div>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>