* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 0 3rem;
    border-bottom: 4px solid rgb(26, 0, 112);
    border-left: 4px solid rgb(26, 0, 112);
    color: white;
    background-color: rgb(0, 170, 121);
}

.main {
    margin: 1rem 1rem 0 1rem;
}

.nav_container {
    display: flex;
    justify-content: space-between;
}

.sort_filter {
    display: inline-flex;
    margin: 1rem auto;
    padding: .5rem 1rem;
    background-color: rgb(209, 245, 248);
    border: 3px solid rgb(26, 0, 112);
    border-radius: 50px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    max-width: 20rem;
    flex: 1;
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
    margin: 2rem .5rem 0 .5rem;
    border-radius: 5px;
    
}

.signature {
    font-style: italic;
    padding: 0 0 1rem 1rem;
}

.blurb {
    padding: 0 0 1rem .5rem;
}

.book_categories {
    padding-bottom: .5rem;
}

.step_links {
    margin: 2rem auto;
    width: 20rem;
    text-align: center;
}
